<div class="subscribe-widget">
  <h4 class="subscribe-title">{{ 'NEWSLETTER.TITLE' | translate }}</h4>
  <p class="subscribe-desc">{{ 'NEWSLETTER.DESC' | translate }}</p>

  <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="field-wrapper" [class.has-error]="emailErrors">
      <input
        type="email"
        formControlName="email"
        class="email-input"
        [placeholder]="'NEWSLETTER.PLACEHOLDER' | translate"
        autocomplete="email"
      />
      <span class="error-msg" *ngIf="emailErrors">{{ emailErrors }}</span>
    </div>

    <button type="submit" class="subscribe-btn" [disabled]="isLoading">
      <span *ngIf="!isLoading">{{ 'NEWSLETTER.SUBMIT' | translate }}</span>
      <span *ngIf="isLoading" class="spinner"></span>
    </button>

  </form>
</div>
